body{
	margin : auto;
}

header{
	
	color: red;	
	font-size : 25px;
	padding-top :5%;
}
header,#playername{
	
	text-align:center;	
	margin-bottom :3%;
	
}
#morpion,#menu,#formulaire {
	width :300px;
	height : 300px;
	margin:auto;
	background-color: #EFEFEF;	
    padding:0%
    margin :0%;
		
}
#menu {
	text-align: center;
}
#menu img {
	width:300px;
	height:300px;
	margin:auto;	
}
#formulaire form {
	text-align:center;
	padding-top :10%;
}
#formulaire form label {
	margin:auto;
	margin-top:5%;
	display:block;

}
#formulaire form input{
	margin:auto;
	margin-top:5%;
	display:block;

}

#play,#formulaire,#error {
	display: none;	
}
#play{
	text-align:center;	
}
#error{
	color : red;
	text-align:center;	
	
}
#morpion div {
	padding:0;
	margin:0;	
}

.ligne, .ligne3 {
	width:100%;
	height :33.2%;
	margin-bottom :0%;
}
.ligne
{
border-bottom:1px solid black;	
}
.colonne1,.colonne2,.colonne3{
	
	display:inline-block;
	
	width:32%;	
	height:100%;
	margin:0;
	
}

canvas{
	width:100%;
	height:100%;
	margin :0;	
	padding :0%;
	//border : 1px solid green;
	
}

.colonne1,.colonne2{
	border-right:1px solid black;
}


@media all and (min-width: 700px) {
	
	
	#menu img {
	width:500px;
	height:500px;
	margin:auto;	
}
	#morpion,#menu,#formulaire {
	width :450px;
	height :450px;
	background-color: #EFEFEF;	
    padding:0%
    margin :0%;
	
}