/************** CSS design for the tic tac toe *************/

/*--- General design for the small device : phone---*/

html {
	font-size:62%;
	overflow:hidden;
}

.icon-back {
	background-repeat:no-repeat;
	background-size:auto;	
}

body {
	padding: 0; 
	margin : auto;
	position:relative;
}

.title {
	height:5rem;	
}


.bouton {
	margin:auto;
	height:auto;
	min-width:100%;
	position:relative;
	/*flex:1;
	-webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;*/
}

.bouton a.menubutton {
	display:inline-block;
	margin:auto;
	padding:0;
	max-width:49%;	

}

.backbutton,#buttonvalidate {
	width:100%;
}

.second {
	float:right;	
}
#winnerbox {
	visibility:hidden;	
}

#playername,#firstplayer {
	text-align:center;	
	visibility:hidden;	
}
h2 {
	margin-top:0;
	padding-top:2%;	
}

h3,h4,h5 {
	margin:0;
	padding-bottom:2%;
}

h5 {
	font-style : oblique;
	margin-bottom:1%;	
}

#container1 {
	/*-moz-box-flex :1;
	flex:1;*/
	width:100%;
	min-height:100%;
	display:block;

}
.container {
margin:auto;
}

#menu {
	width:100%;
	height:100%;
	background-image:url(images/accueil.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat;
	margin-bottom:0;	
}

#formulaire {
	display:none;
	width:100%;
	height:100%;
	text-align:center;
	
}
input {
	margin-bottom:5%;	
}

#formulaire form {
	width:100%;
	height:100%;
	margin-top:10%;
}

#tictactoe {
	display:none;
	background-color: #EFEFEF;
	width:100%;
	height:100%;	
}

#tictactoe div {
	padding:0;
	margin:0;
}

.line, .line3 {
	display:block;
	width:100%;
	height :33.2%;
	margin-bottom :0%;
}

.line {
	border-bottom:1px dashed black;	
}

.column1,.column2,.column3{	
	display:inline-block;	
	width:32%;	
	height:100%;
	margin:0px;	
}
.column1,.column2{
	border-right:1px dashed black;
}


.circle {
	border-radius:50%;
	border:2px solid blue;
	bottom:0;
	width :90%;
	height:90%;
}

.cross {
	width : 90%;
	height :90%;
	background-image:url(images/croix.png);
    -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
    -o-background-size: 100% 100%;           /* Opera 9.5 */
    -webkit-background-size: 100% 100%;           /* Safari 3.0 */
    background-size: 100% 100%;    
}
.bouton div {
	margin-bottom:0;	
}
#buttonother,#buttonvalidate {
	display:none;	
}